* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  font-family: "Roboto", sans-serif;
  
}

.menu-hamb {
  position: fixed;
  z-index: 999;
  padding: 10px;
  background-color: #6c933e
  
}

.section__comienzos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../../images/cover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right; /* hay que investigar bien la posición. No queda centrada en todos los dispositivos */
  background-position-x: -630px;
  height: 100dvh;
  width: 100dvw; /*este seguramente no haga falta */
  padding-top: 55dvh;
  color: white;
}

.title__comienzos {
  color: white;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto; 
  font-style: normal;
  font-weight: light;
  font-size: 5dvh;
  margin-bottom: 10px;
}

.subtitle__comienzos {
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: inherit;
  margin-inline: 30px;
  padding-bottom: 10px;
}

.arrow__comienzos,
.arrow__footer {
  width: 40px;
  height: 40px;
  padding: 10px;
  background: white;
  border-radius: 50%;
}

.section__historias {
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
  margin-top: 30px;
  gap: 20px;

}

.small__title__historias {
  font-family: "Roboto", sans-serif;
  font-size:small;
  color: #6c933e;
}

.big__title__historias {
  font-family: "Roboto Slab", serif;
}

.text__historias {
  color: #4a4a4a;
  line-height: 25px; /* no consigo cambiar el tamaño de la fuente */
}

.button__compra {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #6c933e;
  border: #6c933e solid 2px;
  width: 160px;
  height: 45px;
  border-radius: 30px;    /* hover? animación? */
  font-size: larger;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 20px;
}

.section__vuelta {
  background-color: #d9e4cc;
  font-family: "Roboto Slab", serif;
  display: grid;
  justify-content: center;   /* no consigo hacer que se alineen en el centro*/
  text-align: center;
  padding-top: 15px;
}  

.divs__vuelta {
  align-self: center;
  padding-bottom: 15px;
  font-weight: bold;
  
}

.small_title_historias {
  color: #626262;
  font-weight: bold;

}

.backtoschool__image {
  width: 120px;
  height: 130px;
  border-radius: 50%;
}

.button__empezar {
  font-family: "Roboto", sans-serif;
  background-color: #6c933e;
  color: white;
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 30px;    /* hover? animación? */
  font-size: larger;
  font-weight: 500;
  justify-self: center;
  margin-bottom: 30px;
}

.footer {
  background-color: #4a4a4a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.footer__menu,
.footer__socials,
.footer__copy{
  padding-bottom: 20px;
  text-align: center;
  line-height: 30px;
}

.arrow__footer {
  position: relative;
  z-index: 999;
  top: -50px;
  box-shadow: 0px 7px 7px 2px rgba(49, 48, 48, 0.769);
}

ul {
    list-style-type: none;
    
}